# Loại xác thực: "service_account" hoặc "oauth"
AUTH_TYPE=oauth

# Đường dẫn đến file credentials JSON
CREDENTIALS_PATH=credentials/credentials.json

# ID thư mục gốc trên Google Drive
DRIVE_FOLDER_ID=1L99nIdUz1V-Ios22gWg45HtwQvOmNN2U

# Đường dẫn thư mục local cần đồng bộ
LOCAL_DATA_PATH=./data
